body {background-color: aliceblue;}
h1 {color: brown; text-align: center;}
header {border-bottom-style: solid; border-bottom-width : 1px; color: black;}
a {color: blue; text-decoration: none;}
p { font-family: 휴먼편지체;
    font-size: 1em;
    text-indent: 1em;
    } 
ul {border: 1px dotted;}
h3 {color: blue;
    text-shadow: 2px 2px 2px skyblue;
    }
footer {background-color: orange;
        border-radius: 20px;
        }
